.sidenav {
    width: 15vw;
    min-width: calc(10rem + 6vw);
    height: 100vh;
    background-color: #3b4464;
    padding: 2rem; 
    
    background-image: url(../../assets/wallstreet.jpg);
    box-shadow:inset 0 0 0 2000px rgba(43, 0, 25, 0.61);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav {
    a {
        color:rgba(255, 255, 255, 0.81);
    }
    
    a:active, a:hover { 
        color: white;
    }

    a .current {
        border-left: 2px solid rgba(255, 255, 255, 0.81);
    }
}

.nav { 
    margin-top: 1rem;
}